@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body{
  background: #FDF3F1;
} */

::selection {
  background: #5dc284;
}

::-moz-selection {
  background: #5dc284;
}

/* Work-around for dark mode */
[data-theme='dark'] .prose,
[data-theme='dark'] .prose h1,
[data-theme='dark'] .prose h2,
[data-theme='dark'] .prose h3 {
  color: #fff;
}
[data-theme='dark'] .prose a {
  color: #5dc284;
}

/* Added to remove unnecessary quotes in blockquote sections */
blockquote::before,
blockquote::after,
blockquote p::before,
blockquote p::after {
  content: "" !important;
}