@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body{
  background: #FDF3F1;
} */

::selection {
  background: #5dc284;
}

::-moz-selection {
  background: #5dc284;
}

/* Work-around for dark mode */
[data-theme='dark'] .prose,
[data-theme='dark'] .prose h1,
[data-theme='dark'] .prose h2,
[data-theme='dark'] .prose h3,
[data-theme='dark'] .prose blockquote,
[data-theme='dark'] .prose li,
[data-theme='dark'] .prose p {
  color: #fff;
}
[data-theme='dark'] .prose a {
  color: #22c55e;
}

.prose {
  color:black
}

.prose a {
  text-decoration: none;
  color: #22c55e;
}

/* Added to remove unnecessary quotes in blockquote sections */
blockquote::before,
blockquote::after,
blockquote p::before,
blockquote p::after {
  content: "" !important;
}

a {
  text-transform: none;
  padding-bottom: 0;
  transition: all .2s;
  border-bottom: 2px dotted rgba(0, 0, 0, .15);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  display: inline;
  border-bottom-color: #22c55e;
}

a:hover {
  border-bottom-style: solid;
  border-bottom-color: #22c55e;
  color: #22c55e;
}