@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body{
  background: #FDF3F1;
} */

::selection {
  background: #5dc284;
}

::-moz-selection {
  background: #5dc284;
}

@layer components {
  .markdown-content h1 {
    @apply text-4xl font-bold mb-4 mt-8;
  }
  .markdown-content h2 {
    @apply text-2xl font-bold mb-4 mt-8;
  }
  .markdown-content h3 {
    @apply text-xl font-bold mb-4 mt-8;
  }
  .markdown-content p {
    @apply text-xl mb-4;
  }
  .markdown-content ul {
    @apply list-disc list-inside mb-4;
  }
  .markdown-content li {
    @apply text-xl mb-2;
  }
  .markdown-content ol {
    @apply list-decimal list-inside mb-4;
  }
  .markdown-content a {
    @apply text-blue hover:text-neon-green;
  }
  .markdown-content blockquote {
    @apply border-l-4 border-gray pl-4 mb-4;
  }
  .markdown-content blockquote p {
    @apply italic;
  }
}